.hamburger {
  padding: 15px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #BFC133;
}

.hamburger-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -4px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 8px;
  background-color: #BFC133;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -16px;
}
.hamburger-inner::after {
  bottom: -16px;
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 4px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 16px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 32px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 16px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -32px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

html {
  background-color: #000;
  background-image: url("../img/backgrounddeco.PNG");
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-appearance: none;
  -ms-appearance: none;
  color: #BFC133;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
* p, * ::placeholder, * li, * h3, * a, * button {
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
}
* h1, * h2 {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Limelight", "Arial Black", Arial, sans-serif;
}
* input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=email]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* textarea{
  overflow: auto;
}
* a {
  text-decoration: none;
  transition: color 0.3s ease-in;
}
* i {
  transition: color 0.3s ease-in;
}
* a:hover {
  color: #fff;
}
* a:hover > i {
  color: #fff;
}
* li {
  list-style-type: none;
}

.hamburger {
  background-color: #333645;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #BFC133;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  height: 80px;
  width: 120px;
  position: fixed;
  top: 0%;
  left: 80%;
  z-index: 3;
  transition: background-color 0.3s;
  padding-right: 50px;
}
.hamburger:hover {
  background-color: #22242e;
}

.burger-list {
  background-color: #333645;
  font-size: 1.5rem;
  position: sticky;
  position: fixed;
  top: 0;
  left: -600px;
  margin: -15px 0px;
  margin-left: -3000px;
  z-index: 2;
  padding: 30px 15px;
  box-sizing: border-box;
  width: 280px;
  transition: transform 0.3s;
  border-bottom-right-radius: 3px;
  float: left;
}
.burger-list > ul > li {
  font-size: 1.5rem;
  text-decoration: none;
}

.sticky-hand {
  position: fixed;
  top: 85%;
  left: 94%;
  margin: 0 auto;
  display: block;
  z-index: 2;
  height: 80px;
}
.sticky-hand > a > i {
  font-size: 4rem;
  transition: transform 0.3s;
}
.sticky-hand > a > i:hover {
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-duration: 1.3s;
}
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.sticky-house {
  position: fixed;
  top: 1%;
  left: 6%;
  margin: 0 auto;
  display: block;
  z-index: 2;
  height: 65px;
}
.sticky-house > a > i {
  font-size: 4rem;
  transition: transform 0.3s;
}
.sticky-house > a > i:hover {
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-duration: 1.3s;
}
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.navigation-bar {
  position: sticky;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, #000, #333645);
  border-bottom: #BFC133 5px solid;
  margin: 0 auto;
  margin-top: -10px;
  margin-left: -10px;
  width: 100%;
  z-index: 2;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}
.navigation-bar > .nav-container {
  padding: 30px 20px;
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
}
.navigation-bar > .nav-container > a {
  font-size: 0.7rem;
}
.navigation-bar > .nav-container > a > i {
  line-height: 30px;
}

.hero-image {
  margin: 30px auto;
  margin-top: 200px;
  background: linear-gradient(275deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}
.hero-image > .hero-text {
  border: 3px #BFC133 solid;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 200px;
  background: linear-gradient(180deg, #333645, #000);
  padding: 10px 30px;
}
.hero-image > .hero-text > h2 {
  font-size: 1.5rem;
}
.hero-image > img {
  height: 400px;
  margin: 0 auto;
  display: block;
}

.project {
  border: 3px solid #BFC133;
  padding: 20px 50px;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: linear-gradient(180deg, #333645, #000);
  box-shadow: 5px 15px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s;
  font-size: 1.2rem;
}
.project:hover {
  border-color: #fff;
  color: #fff;
}
.project:hover > a img {
  border-color: #fff;
}
.project:hover > a button, .project:hover p {
  color: #fff;
  border-color: #fff;
}
.project:hover > a button > i, .project:hover p > i {
  color: #fff;
}
.project > a {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15x;
}
.project > a > img {
  border: 1px solid #BFC133;
  background-color: #000;
  width: 100%;
  height: auto;
  border-radius: 3px;
  display: block;
  margin-bottom: 15px;
}
.project > a > p {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.project > a > button {
  border: 1px solid #BFC133;
  background-color: #000;
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: 700;
  display: block;
  transition: color 0.3s, border-color 0.3s;
}
.project > a > button > i {
  transition: color 0.3s;
}

.folio-thumbs {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 40px auto;
  margin-top: 10px;
  flex-wrap: wrap;
}

footer {
  background: linear-gradient(180deg, #333645, #000);
  border-top: 5px solid #BFC133;
  width: 100vw;
  margin-bottom: -30px;
  margin-left: -10px;
  min-height: 20vw;
  padding-bottom: 30px;
}
footer > .contact {
  margin: 0 auto;
  padding: 30px 20px;
}
footer > .contact > .contact-form {
  font-size: 1.1rem;
}
footer > .contact > .contact-form input {
  height: 45px;
  display: block;
  width: 80%;
  border: #BFC133 3px solid;
  border-radius: 3px;
  background: none;
  margin: 25px auto;
  padding: 15px 30px;
  transition: color 0.3s, border-color 0.3s;
}
footer > .contact > .contact-form input:hover {
  color: #fff;
  border-color: #fff;
}
footer > .contact > textarea{
  height: 90px;
  display: block;
  width: 80%;
  border: #BFC133 3px solid;
  border-radius: 3px;
  background: none;
  margin: 25px auto;
  padding: 15px 30px;
  transition: color 0.3s, border-color 0.3s;
}
footer > .contact > textarea:hover {
  color: #fff;
  border-color: #fff;
}
footer > .contact > button {
  height: 50px;
  width: 40%;
  display: block;
  margin: 30px auto;
  background: #000;
  border: #BFC133 3px solid;
  padding: 5px 10px;
  font-weight: 700;
  transition: color 0.3s, border-color 0.3s;
}
footer > .contact > button:hover {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}
footer > .details {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px 30px;
}
footer > .details > h2{
  font-size: 0.95rem;
}
footer > .details > ul {
  text-decoration: none;
  line-height: 1.5rem;
  list-style: none;
  padding-left: 0;
}

.text-block {
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.text-block > .text-con {
  width: 70%;
  height: auto;
  border: 5px #BFC133 solid;
  border-radius: 5px;
  background: linear-gradient(180deg, #333645, #000);
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
  padding: 30px 30px;
  margin: 0 auto;
}
.text-block > .text-con > p {
  line-height: 1.5rem;
}
.text-block > .text-con > p > .dropcap {
  float: left;
  font-family: "Josefin Sans", "Arial Black", sans-serif;
  font-size: 60px;
  line-height: 35px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .hamburger{
    margin-right: 100px;
  }
  .sticky-hand{
    display: none;
  }
  
  .navigation-bar {
    display: none;
    height: 0px;
  }
  .hero-image{
    margin-top: 30px;
  }
  .hero-image > .hero-text{
    height: 300px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .hero-image > img{
    margin-right: 150px;
    height:280px;
  }
  .footer{
    width: 120vw;
    margin-left: 0px;
    border-radius: 3px;
  }
}
@media only screen and (min-width: 480px) {
  .navigation-bar {
    display: none;
    height: 0px;
  }
  .navigation-bar > .nav-container > a, .navigation-bar > .nav-container i {
    font-size: 1rem;
  }
  .navigation-bar > .nav-container > i {
    line-height: 30px;
  }
  .footer{
    width: 120vw;
    margin-left: -20px;
    border: 5px #BFC133 solid;
    border-radius: 3px;
  }
  
}
@media only screen and (min-width: 768px) {
  .navigation-bar {
    display: flex;
    height: auto;
  }
  .nav-container{
    width: 768px;
  }
  
  .navigation-bar > .nav-container > a, .navigation-bar > .nav-container i {
    font-size: 1rem;
    margin: 0 3px;
  }

  .hamburger {
    display: none;
  }

  .hero-image {
    width: 768px;
    margin: 0 auto;
    margin-top: 150px;
    padding-top: 0;
    align-items: center;
  }
  .hero-image > img {
    margin: 0 auto;
  }
  .hero-image > .hero-text {
    align-items: center;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  .contact {
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
  }
  .contact .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contact .contact-form > input {
    max-width: 40%;
    display: block;
  }

  .sticky-house {
    top: 20%;
    left: 6%;
  }
  .footer{
    width: 100vw;
    margin-left: -10px;
    border:none;
    border-top: #BFC133 5px solid;
  }
  .footer > .contact{
    padding: 30px 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-container {
    width: 1024px;
  }
  .nav-container > .hlink {
    font-size: 1.5rem;
  }
  .nav-container > .hlink > i {
    font-size: 1.5rem;
    line-height: 10px;
  }
  .nav-container > i {
    font-size: 0.8rem;
    line-height: 35px;
  }

  .hero-image {
    display: flex;
    width: 1024;
    padding: 0 30px;
  }
  .hero-image > .hero-text {
    width: 50%;
    margin: 0 auto;
    float: left;
  }
  .hero-image > img {
    height: 300px;
    float: right;
    transform: scaleX(-1);
    display: block;
    margin: 0 auto;
  }
  .hero-image > .scroll-dwn {
    position: absolute;
    top: 98%;
    left: 37%;
  }

  .folio-thumbs {
    padding-top: 80px;
    width: 1024px;
  }
  .folio-thumbs > .project {
    width: 30%;
    justify-content: center;
    padding: 50px 50px;
  }
  .folio-thumbs > .project > a button {
    width: 100%;
    display: block;
    margin-top: 15px;
  }
  .folio-thumbs > .project > a > p {
    font-size: 28px;
  }

  .contact {
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
  }
  .contact .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contact .contact-form > input {
    max-width: 40%;
    display: block;
  }

  .details {
    margin: 0 auto;
    max-width: 1024px;
  }

  .text-con {
    margin: 0 auto;
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .folio-thumbs > .project {
    width: 20%;
    margin: 30px 15px;
  }
}
@media screen and (-ms-high-contrast: active) {
  p, ::placeholder, li, h3, a, button {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
